<!-- ////////////// HEADER ////////////// -->
header.bg-dlbg
	.container
		nav.navbar.navbar-expand-lg.navbar-light
			a.navbar-brand(href="#")
				img(src="./img/logo.png", alt="Logo")
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
				span.fa.fa-bars
			#fullStackMenu.collapse.navbar-collapse
				.mr-auto
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href="index.html")
							| Home
					li.nav-item
						a.nav-link(href="about.html") About
					li.nav-item
						a.nav-link(href="work.html") Work
					li.nav-item
						a.nav-link(href="blog.html") Blog
					li.nav-item
						a.nav-link(href="contact.html") Contact
<!-- ////////////// HEADER ////////////// -->
